body {
    font-family: 'Poppins', sans-serif;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.kecil {
    height: 330px;
    object-fit: cover;
    object-position: center;
}

.besar {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.card-welcome {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bawah{
    height: 220px;
}

.judul h1{
    color:white;
    font-family:'Poppins';
    font-weight:700;
}
.back{
    background-color:#000000;
}
.judul p{
    color: rgb(197, 197, 197);
    font-weight: 300;
}
.transparent-button {
    background-color: transparent;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 16px; /* Ubah ukuran font sesuai keinginan Anda */
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
    justify-self: end;
    display: flex; /* Menggunakan flex untuk mengatur ikon dan teks secara horizontal */
    align-items: center; /* Menengahkan ikon dan teks secara vertikal */
  }

  .transparent-button i {
    margin-top: 2px;
    margin-left: 4px;
    font-size: 14px;
    transition: transform 0.3s; /* Tambahkan transisi untuk efek zoom */
  }

  .transparent-button:hover {
    color: #5A5656;
    transform: scale(1,1);
  }

  .transparent-button:active i {
    transform: scaleX(1.5); /* Efek melebar saat tombol di klik (active) */
  }
.selanjutnya{
    text-decoration: none;
}

.tl{
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center ;
}
.content {
display: grid;
grid-template-columns: auto 1fr; /* Kolom pertama untuk h2, kolom kedua untuk container */
align-items: center; /* Mengatur vertikal ke tengah */
gap: 20px; /* Jarak antara h2 dan container */
}
.contentt {
display: flex;
flex-direction: column; /* Elemen-elemen di dalamnya akan tampil dalam satu kolom */
background-color: #000000;
}

.video-trailers {
display: inline;
flex-direction: row; /* Video trailer akan sejajar ke samping */
justify-content: space-around; /* Mengatur jarak antara video trailer */
margin-top: 10px; /* Menambahkan margin atas untuk memberikan sedikit jarak */
height: auto;
width: auto;
}

.video-trailer {
flex: 1; /* Membagi ruang secara merata antara video trailer */
}

.video-trailer iframe {
width: 100%;
height:120%;
}


.column {
flex-basis: 35%;
align-items: center;
margin-left: 200px;
}

.video-slider {
display: flex;
flex-direction: column;
align-items: center;
}

.video-trailers {
display: flex;
overflow: hidden;
width: 100%;
transition: transform 0.3s ease-in-out;
}

.video-trailer {
min-width: 300px;
max-width: 300px;
margin: 0 10px;
}

.slider {
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
margin-bottom: 50px;
}

.slider-circle {
width: 15px;
height: 15px;
background-color: #bcc8d5;
border-radius: 50%;
cursor: pointer;
margin: 0 5px; /* Jarak antara setiap kontrol penggeser */
transition: background-color 0.3s ease;
}

.slider-circle.active {
background-color: #717b86; /* Warna lingkaran aktif */
}

.prev-video,
.next-video {
padding: 5px 10px;
background-color: #a4b0bc;
color: white;
border: none;
cursor: pointer;
margin-top: 10px; /* Jarak antara tombol dan lingkaran penggeser */
}

.prev-video:hover,
.next-video:hover {
background-color: #b5c0cd;
}



.jdl {
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    text-align: center;
    color: #000000;
}
.mvi{
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    text-align: center;
    color: #ffffff;
}
.transparent-button {
    background-color: transparent;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
    justify-self: end;
    display: flex;
    align-items: center;
}

.transparent-button i {
    margin-top: 2px;
    margin-left: 4px;
    font-size: 14px;
    transition: transform 0.3s;
}

.transparent-button:hover {
    color: #5A5656;
    background-color: #ffffff; /* Perubahan latar belakang saat dihover */
}

.transparent-button:hover i {
    transform: scale(1.1); /* Efek zoom pada ikon saat dihover */
}

.transparent-button:active i {
    transform: scaleX(1.5);
}
.selanjutnya {
    text-decoration: none;
}
.tl {
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.dropdown-menu .bg-secondary li center {
    color:white;
}

.item-details {
    width: 100% !important;
    height: 150px !important;
}


.owl-carousel .owl-nav [class*=owl-] {
    transition: all 0.3s ease;
}

.owl-carousel .owl-nav [class*=owl-].disabled:hover {
    background-color: #D6D6D6;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    font-size: 20px;
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.owl-carousel .owl-prev {
    left: -70px;
}

.owl-carousel .owl-next {
    right: -70px;
}




.owl-dots {
    text-align: center;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: lemonchiffon !important;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: teal !important;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.carousel-caption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center; /* Pusatkan teks horizontal ke tengah */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-caption h5,
.carousel-caption p {
    color: #ffffff; /* Warna teks putih */
}

.carousel-caption a {
    color: #fff; /* Warna teks tombol putih */
    text-decoration: none; /* Hapus garis bawah */
    margin-top: 20px; /* Jarak antara tombol dan teks */
}

.carousel-caption .btn-group {
    position: absolute;
    top: 10px;
    right: 10px;
}
.img-responsive {
    width: 100% !important;
    height: 250px !important;
}

.item-details {
    width: 100% !important;
    height: 150px !important;
}


.owl-carousel .owl-nav [class*=owl-] {
    transition: all 0.3s ease;
}

.owl-carousel .owl-nav [class*=owl-].disabled:hover {
    background-color: #D6D6D6;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    font-size: 20px;
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.owl-carousel .owl-prev {
    left: -70px;
}

.owl-carousel .owl-next {
    right: -70px;
}




.owl-dots {
    text-align: center;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: lemonchiffon !important;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: teal !important;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}
/* Efek bayangan untuk membuat teks bercahaya */
.carousel-caption h1, .carousel-caption p {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* Sesuaikan dengan preferensi Anda */
}
