body {
    /* background-color: rgb(1, 1, 18); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* Background Image */
    background-image: url('img/guest_login.jpg');
    /* Background Size */
    background-size: cover;
    /* Background Position */
    background-position: center center;
    /* Background Repeat */
    background-repeat: no-repeat;
    /* Height untuk mengisi seluruh layar */
    height: 100vh;
}

/* .container {
    display: grid;
    text-align: center;
    align-items: center;
text-align: center;
} */

.form-container {
    display: flex;
    justify-content: center;
    /* Posisikan form di tengah horizontal */
}

form {
    text-align: center;
    border: 3px dashed #880bf5;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(1, 1, 18);
    /* Latar belakang form dengan transparansi */
    padding-right: 20px;
    width: 250px;
    color: rgb(0, 0, 0);
    /* Warna teks di dalam form */
}

/* Ganti class untuk elemen-elemen berikut */
.input-text {
    width: 90%;
    /* Lebar input 100% untuk mengisi seluruh form */
    padding: 5px;
    margin: 7px 0;
    border: none;
    border-radius: 0;
    border-bottom: 0px dashed #7a32c1;
    /* Tambahkan garis bawah putus-putus */
    background-color: #ffffff;
    /* Warna ungu */
    color: #000000;
    /* Warna teks putih */
    /* border-radius: 200px; */
    border-radius: 3px;
}

.input-file {
    width: 100%;
    /* Lebar input 100% untuk mengisi seluruh form */
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-radius: 0;
    border-bottom: 0px dashed #7a32c1;
    /* Tambahkan garis bawah putus-putus */
    background-color: #212121;
    /* Warna ungu */
    color: #ffffff;
    /* Warna teks putih */
    /* border-radius: 200px; */
    border-radius: 3px;
}

.input-file::-webkit-file-upload-button {
    background-color: #7a32c1;
    /* Warna ungu */
    color: #ffffff;
    /* Warna teks putih */
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.input-file::-ms-browse {
    background-color: #7a32c1;
    /* Warna ungu */
    color: #ffffff;
    /* Warna teks putih */
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.input-submit {
    background-color: #212121;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    /* Lebar tombol 100% */
}

.input-submit:hover {
    background-color: #b8d4f1;
}

.input-file-container {
    display: flex;
    flex-direction: column;
    /* Tampilkan input file dan tombol secara vertikal */
}

/* Membuat jarak antara input file dan tombol */
.input-file-container button {
    margin-top: 10px;
}
